<?xml version="1.0"?>

<launch>
  <arg name="sim" default="false"/>
  <group unless="$(arg sim)">
    <node name="pyspin_overhead_service" pkg="pyspin_wrapper" type="pyspin_overhead_service.py" respawn="false" output="screen"/>
    <node name="pyspin_gripper_proximal_service" pkg="pyspin_wrapper" type="pyspin_gripper_proximal_service.py" respawn="false" output="screen"/>
    <node name="pyspin_gripper_distal_service" pkg="pyspin_wrapper" type="pyspin_gripper_distal_service.py" respawn="false" output="screen"/>
  </group>
  <arg name="disable_vision_server" default="true"/>
  <node name="ptgrey_vision_server" pkg="Vision_MoveIt_wason" type="ptgrey_vision_server" unless="$(arg disable_vision_server)"/>
</launch>
